/*  your css code here. If applicable */

#yellow{
	background:yellow;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-color:green;
	border-bottom-color:green;
	border-left-color:green;
	border-right-color:green;
	
	
}

#red{
	background:red;
	border: 1px solid red;
	
}

#green{
	background:green;
	border: 1px solid yellow;
	
}