/*  your css code here. If applicable */

#yellow{
	background:yellow;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	border-right: 1px solid green;
	
	
}

#red{
	background:red;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	border-right: 1px solid green;
	
}

#green{
	background:green;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	border-right: 1px solid green;
	
}